nav
{
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    background-color: $colorFilmaniaBold;
    height: 100vh;
    width: 10rem;
    
    ul
    {
        background-color: aliceblue;
        display: flex;
        flex-flow: column;

        li
        {
            margin-bottom: 1.5rem;
        }
    }
}