nav
{
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    background-color: $colorFilmaniaBold;
    height: 100vh;
    width: 2.5rem;
    
    ul
    {
        margin-top: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li
        {
            margin-bottom: 1.5rem;
        }
    }
}