nav
{
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 2.5rem;
    transition: .2s ease-in;
    background-color: $colorFilmaniaBold;


    #filmamania-icon
    {
        width: 40px;
    }
    
    ul
    {
        margin-top: 1.5rem;
        margin-left: 0.5rem;

        li
        {
            &:nth-child(1)
            {
                padding-bottom: 0;
            }
            
            margin-bottom: 1.5rem;
            padding-bottom: 0.75rem;
            
            #nav-icon
            {
                cursor: pointer;
            }

            a
            {
                display: flex;
                align-items: center;
                line-height: 0;
                
            }

            .text-nav
            {
                display: none;
                color: $colorFilmaniaLight;
                margin-left: 1.5rem;
            }
        }
    }

    &.active
    {
        width: 15rem;
        padding: 1.5rem 1.5rem 1.5rem 0.9rem;
        
        #filmamania-icon { width: 40px; }

        ul
        {
            flex-flow: column wrap;
            margin-left: 0.6rem;

            li:nth-child(1)
            {
                padding-bottom: 0;
                border-bottom: none;
            }
            li
            {
                width: 100%;
                
                #nav-icon
                {
                    cursor: pointer;
                }
            }
        }
    }
}