$colorFilmania: #A9987B;
$colorFilmaniaLight: #F5E6CB; 
$colorFilmaniaBold: #5C4F3A; 
$colorComplementBold: #31465C; 
$colorComplementLight: #7B91A8; 

$colorLight: #e1e1e1 ; 
$colorNormal: #afafaf; 
$colorRegular: #808080; 
$colorSemiBold: #545454;
$colorBold: #2b2b2b;